.paymill-tooltip {
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}
.paymill_error{
    color: #000;
    background: #F8E2E2;
    border: 1px solid #FF1B1B;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.3em auto 1.5em auto;
    box-shadow: inset 0 2px 2px #dde2e4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#paymill_form .cc-logos{
    margin: 20px auto;
}

.paymill-card-number-visa
{
    background: url('../img/32x20_visa.png') no-repeat center right !important;
}

.paymill-card-number-mastercard
{
    background: url('../img/32x20_mastercard.png') no-repeat center right !important;
}

.paymill-card-number-amex
{
    background: url('../img/32x20_amex.png') no-repeat center right !important;
}

.paymill-card-number-jcb
{
    background: url('../img/32x20_jcb.png') no-repeat center right !important;
}

.paymill-card-number-maestro
{
    background: url('../img/32x20_maestro.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('../img/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-diners-club
{
    background: url('../img/32x20_dinersclub.png') no-repeat center right !important;
}

.paymill-card-number-discover
{
    background: url('../img/32x20_discover.png') no-repeat center right !important;
}

.paymill-card-number-carta-si
{
    background: url('../img/32x20_carta-si.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('../img/32x20_carte-bleue.png') no-repeat center right !important;
}

.paymill-card-number-dankort
{
    background: url('../img/32x20_dankort.png') no-repeat center right !important;
}

.paymill-card-number-china-unionpay
{
    background: url('../img/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-grayscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
p.payment_module a.creditcard {
      background: url('../img/icon-hook.png') 15px 15px no-repeat #fbfbfb; }
p.payment_module a.elv {
      background: url('../img/icon-hook.png') 15px 15px no-repeat #fbfbfb; }
p.payment_module a.creditcard:after, p.payment_module a.elv:after {
      display: block;
      content: "\f054";
      position: absolute;
      right: 15px;
      margin-top: -11px;
      top: 50%;
      font-family: "FontAwesome";
      font-size: 25px;
      height: 22px;
      width: 14px;
      color: #777777; }
    p.payment_module a:hover {
      background-color: #f6f6f6; }
    p.payment_module a span {
      font-weight: bold;
      color: #777777; }

/* Admin */
.dataTableHeadingContent {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #CCCCCC;
}
.dataTableContent {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
    background-color: #FFFFFF;
    vertical-align: middle;
    border-bottom: 1px dashed #cccccc;
}
#paymill_adminpage .paymill_config_header {
    font-weight: bold;
}

#paymill_adminpage .paymill_config_label{
    width: 300px;
}
#paymill_adminpage .paymill_config_value{
    text-align: center;
    width: 300px;
}

#paymill_adminpage .paymill_config_text{
    width: 220px;
}
#paymill_adminpage .paymill_config_select{
    width: 230px;
    height: 180px;
}
#paymill_adminpage .paymill_config_button{
    width:164px;
    height:30px;
    background-color:#ff5a00;
    border-color:#ff8c00;
    color:#FFF;
    cursor:pointer;
}
#paymill_adminpage fieldset{
    margin-top: 5px;
    margin-bottom: 5px;
}